body {
	display: flex;
	flex-direction: column;
	margin: 0px;
	color: #e2b360;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
	background-color: #f7f7f7;
	padding: 1px;
	align-items: center;
}

.header-left {
	display: flex;
	justify-content: space-around;
	gap: 24px;
	margin-left: 20px;
}

.logo {
	width: 100px;
	height: auto;
	flex-shrink: 0;
}

.img-big {
	width: 400px;
	height: 250px;
	object-fit: cover;
	object-position: 0 65%;
	border-radius: 5px;
	border: 5px solid #e2b360;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 100%;
	margin-right: 20%;
}

a {
	text-decoration: none;
	color: #e2b360;
	font-weight: 400;
	font-size: 20px;
}

.h1-left {
	margin: 0;
}
.container-1 {
	background-color: #f7f7f7;
	display: flex;
	padding: 80px;
	justify-content: center;
	gap: 10%;
}

.left-1 {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	max-width: 400px;
}

.right-1 {
	flex: 1 1 auto;
	max-width: 400px;
}
button {
	background-image: linear-gradient(
		to right,
		#e2b360 0%,
		#f7f7f7 51%,
		#e2b360 100%
	);
	transition-duration: 0.4s;
	border-radius: 5px;
	width: 100px;
	height: 25px;
	display: block;
	margin-top: 16px;
	background-size: 200% auto;
	font-weight: 400;
}

button:hover {
	background-position: right center;
	text-decoration: none;
}

.container-2 {
	display: flex;
	background-color: #e2b360;
	flex-direction: column;
	color: #f7f7f7;
	align-items: center;
	gap: 16px;
}

.info-container {
	display: flex;
	gap: 100px;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.card {
	justify-content: center;
	width: 130px;
}

.img-info {
	width: 130px;
	height: 195px;
	border-radius: 5px;
	border: 5px solid #f7f7f7;
}

.info-container {
	background-color: #e2b360;
}

.info {
	display: flex;
	flex-direction: column;
}
